.dialogCanvas {
  position: fixed;
  inset: 0;
  overflow: hidden;
  background-color:#282828;
}
.dialogsFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:darkseagreen;
  height: var(--dialogs-footer-height);
  display: flex;
  z-index: 1000;
}
.dialogsFooter .dialogsFooterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
}
.dialogsFooter .dialogsFooterBar > .tab {
  min-width: 40px;
  max-width: 200px;
  height: 100%;
  padding: 0 5px;
  background-color: bisque;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease-in-out;
}
.dialogsFooter .dialogsFooterBar > .tab:hover {
  background-color: gold;
}
.dialogsFooter .dialogsFooterBar > .tab.focused {
  background-color: coral !important;
}
.dialogsFooter .dialogsFooterBar > .tab.minimized {
  background-color: white !important;
  opacity: 0.5;
}
