.dialog {
  position: absolute;
  min-width: var(--d-d-min-width);
  min-height: var(--d-d-min-height);
  background: var(--d-d-background); ;
  box-shadow: var(--d-d-shadow);
  border: var(--d-d-border);
  border-radius: var(--d-d-border-radius);
  color: var(--d-d-color);
  overflow: hidden;
  transition:
    box-shadow 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}
.dialog::after {
  content: '';
  position: absolute;
  inset: 32px 0 0 0;
}

.dialog.focused::after {
  display: none;
}

.maximizeOverlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  will-change: inset, height, width, background-color;
  transition: all 0.1s ease-in-out;
}
.maximizeOverlayActive {
  background-color: rgba(255, 255, 255, 0.2);
}
.maximizeOverlayFull {
  inset: 0;
  height: 100%;
  width: 100%;
}
.maximizeOverlayLeft {
  inset: 0;
  height: 100%;
  width: 50%;
}
.maximizeOverlayRight {
  inset: 0 0 0 50%;
  height: 100%;
  width: 50%;
}

.dialog.maximized {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: var(--d-f-height) !important;
  width: 100% !important;
  height: calc(100% - var(--d-f-height)) !important;
  transform: translate(0) !important;
  border-radius: 0 !important;
  border: none !important;
}
.dialog.maximizedFull {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
}
.dialog.maximizedLeft {
  left: 0 !important;
  right: 0 !important;
  width: 50% !important;
}
.dialog.maximizedRight {
  left: 50% !important;
  right: 0 !important;
  width: 50% !important;
}

.header {
  background: var(--d-dh-background);
  overflow: hidden;
  border-radius: var(--d-dh-border-radius);
  cursor: default;
  color: var(--d-dh-color);
  font-size: var(--d-dh-font-size);
  font-weight: var(--d-dh-font-weight);
  text-align: left;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--d-dh-gap);
  padding: var(--d-dh-padding);
  border: var(--d-dh-border);
  height: var(--d-dh-height);
  transition: background 0.05s linear, color 0.05s ease-in-out;
}
.dialog.maximized .header {
  border-radius: 0;
}
.header_icon {
  background-color: darkcyan;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: var(--d-dh-icon-border-radius);
  width: var(--d-dh-icon-size);
  height: var(--d-dh-icon-size);
  flex-shrink: 0;
}

.header_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  flex-grow: 1;
}

.header_action {
  width: var(--d-dh-icon-size);
  height: var(--d-dh-icon-size);
  border-radius: var(--d-dh-icon-border-radius);
  color: var(--d-dh-action-color);
  flex-shrink: 0;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

.header_close {
  background-image: var(--d-dh-close);
}

.header_maximize {
  background-image: var(--d-dh-maximize);
}

.header_minimize {
  background-image: var(--d-dh-minimize);
}
.header_restore {
  background-image: var(--d-dh-restore);
}

.focused {
  box-shadow: 1px 1px 4px rgb(60, 60, 60);
}
.maximized.focused {
  box-shadow: 0px 0px 3px rgb(60, 60, 60);
}

.focused > .header {
  background-color: var(--d-dh-background-focused);
  color: var(--d-dh-color-focused);
}

.focused .header_close {
  background-color: var(--d-dh-close-color);
}
.focused .header_minimize {
  background-color: var(--d-dh-minimize-color);
}
.focused .header_maximize {
  background-color: var(--d-dh-maximize-color);
}
.focused .header_restore {
  background-color: var(--d-dh-restore-color);
}

.header_minimize:hover {
  background-color: var(--d-dh-minimize-color-hover);
}
.header_maximize:hover {
  background-color: var(--d-dh-maximize-color-hover);
}
.header_restore:hover {
  background-color: var(--d-dh-restore-color-hover);
}
.header_close:hover {
  background-color: var(--d-dh-close-color-hover);
}

.content {
  overflow: auto;
  position: relative;
  inset: 0;
  width: 100%;
  height: calc(100% - var(--d-dh-height));
}

.dialog.resizing,
.dialog.dragging {
  opacity: 0.8;
}

.dialog.resizing .content {
  background-color: white;
  visibility: hidden;
  user-select: none;
}
.footer {
  width: 100%;
}
.footer > .resizer {
  position:absolute;
  cursor: nwse-resize;
  bottom: 0;
  right: 0;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.footer > .resizer::after {
  content: "";
  transform: rotate(45deg);
  background-color: var(--d-dr-color);
  position: absolute;
  bottom: -0.8rem;
  right: -0.8rem;
  width: 1.4rem;
  height: 1.4rem;
}
.focused > .footer > .resizer {
  opacity: 0.5;
}
.focused .footer > .resizer:hover {
  opacity: 1;
}
