:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  --color: rgba(48, 48, 48, 0.87);
  --background-color: #ffffff;

  --primary-color: #1a73e8;
  --primary-color-light: #e8f0fe;
  --primary-color-dark: #004cbe;

  --secondary-color: #fbbc05;
  --secondary-color-light: #fff4e7;
  --secondary-color-dark: #c67c00;

  --dialogs-footer-height: 50px;

  background-color: var(--background-color, #e9e9e9);
  color: var(--color, rgba(48, 48, 48, 0.87));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body.resizing {
  user-select: none;
}

.react-draggable-dragging {
  opacity: 0.8;
}

button {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
}
button:hover {
  opacity: 1;
}