:root {
  --color: rgba(48, 48, 48, 0.87);
  --background-color: #fff;

  --primary-color: rgb(135, 206, 42);
  --secondary-color: #fbbc05;
  --error-color: #d93025;
  --disabled-color: #ccc;
  
  --d-radius: 0.3rem;
  --d-c-background: #333;
  --d-f-background: linear-gradient(rgba(143, 188, 143, 0.692), darkseagreen);
  --d-f-filter: blur(1rem);
  --d-f-height: 3rem;
  --d-f-z-index: 10000;
  --d-fb-space: 0.4rem;
  --d-fbt-color: bisque;
  --d-fbt-hover: gold;
  --d-fbt-focused: coral;
  --d-fbt-minimized: var(--disabled-color);
  --d-fbt-radius: var(--d-radius);
  --d-fbti-size: 1.5rem;

  --d-d-background: #ddd;
  --d-d-background-focused: #f5f5f5;
  --d-d-color: var(--color);
  --d-d-color-focused: var(--color);
  --d-d-border: 0px solid var(--d-d-background);
  --d-d-border-radius: var(--d-radius);
  --d-d-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.5);
  --d-d-min-width: 12rem;
  --d-d-min-height: 12rem;
  --d-dh-height: 2rem;
  --d-dh-background: #ddd;
  --d-dh-background-focused: var(--primary-color);
  --d-dh-border: none;
  --d-dh-border-radius: var(--d-radius) var(--d-radius) 0 0;
  --d-dh-color: #777;
  --d-dh-color-focused: #444;
  --d-dh-font-size: 1rem;
  --d-dh-font-weight: 500;
  --d-dh-padding: 0 0.25rem;
  --d-dh-gap: 0.3rem;
  --d-dh-icon-size: 1.5rem;
  --d-dh-icon-border-radius: var(--d-radius);
  --d-dh-action-color: #fff;
  --d-dh-close: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>');
  --d-dh-close-color: brown;
  --d-dh-close-color-hover: crimson;
  --d-dh-maximize: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" d="M 6,18 V 6 H 18 V 18 H 6"/></svg>');
  --d-dh-maximize-color: none;
  --d-dh-maximize-color-hover: goldenrod;
  --d-dh-restore: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" d="m 6,18 v -7 h 7 v 7 H 6" /><rect style="stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:1.5, 1.5;stroke-dashoffset:0.75;" width="12" height="12" x="6" y="6" /></svg>');
  --d-dh-restore-color: none;
  --d-dh-restore-color-hover: goldenrod;
  --d-dh-minimize: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"><path stroke-linecap="round" stroke-linejoin="round" d="M 6,18 H 18" /></svg>');
  --d-dh-minimize-color: none;
  --d-dh-minimize-color-hover: cornflowerblue;
  --d-dr-color: #aaa;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  background-color: var(--background-color, #e9e9e9);
  color: var(--color, rgba(48, 48, 48, 0.87));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body.resizing {
  user-select: none;
}

button {
  background-color: var(--secondary-color);
  border: none;
  padding: 0.25rem 1rem;
  border-radius: var(--d-radius);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.1s ease-in-out;
  white-space: nowrap;
}
button:hover {
  opacity: 1;
}
button[type="submit"] {
  background-color: var(--primary-color);
}